body {
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 220px;
}

.selection {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(6, 1fr);
}

.helper {
    width: 600px;
    height: 220px;
}

.load-names {
    border: 2px solid #422800;
    padding: 40px 40px;
}

.available-grids {
    display: flex;
    margin-top: 10px;
    gap: 50px;
}

.gridSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 220px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.startPoint {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.endPoint {
    width: 50px;
    height: 50px;
    background-color: green;
    margin-top: 100px;
}

h1 {
    font-size: 64px;
    color: white;
}

h2 {
    font-size: 25px;
    color: white;
}

li {
    margin-top: 40px;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.buttons .start {
    margin-right: 50px;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
}

.info {
    width: 600px;
    height: 600px;
}

.col {
    display: grid;
    background-color: white;
}

.row.blocked {
    background-color: gray;
}

.row {
    border: solid 1px black;
    background-color: white;
}

.row:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition-duration: 0.1s;
}

.button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 10px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.size {
    padding: 10px 40px;
}
.size:first-child {
    border-right: 1px solid black;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button {
        min-width: 120px;
        padding: 0 25px;
    }

    .selection button {
        min-width: 60px;
    }
}

.value-text {
    font-size: 30px;
    margin-top: 50px;
}
