html,
body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to right, #164a41, #4d774e);
  font-family: "Times New Roman", Times, serif;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 220px;
}

.header {
  margin: auto;
  margin-bottom: 50px;
}

.selection {
  display: grid;
  margin-top: 160px;
  grid-template-columns: repeat(6, 1fr);
}

.helper {
  width: 600px;
  height: 220px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5d1eb;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  box-shadow: #9dc88d 4px 4px 0 0;
}

.card div button {
  background-color: #f1b24a;
  border: 2px solid #164a41;
  border-radius: 10px;
  box-shadow: #164a41 4px 4px 0 0;
  color: #164a41;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  padding: 0 9px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
}

.info h2 {
  text-align: center;
  font-size: 40px;
}

.available-grids {
  display: flex;
  margin-top: 10px;
  gap: 50px;
}

.gridSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 220px;
}

span {
  color: #c5d1eb;
}

p {
  color: #164a41;
  font-weight: 600;
  font-size: 22px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.startPoint {
  width: 50px;
  height: 50px;
  background-color: #151552;
}

.endPoint {
  width: 50px;
  height: 50px;
  background-color: #3D0808;
  margin-top: 100px;
}

h1 {
  font-size: 64px;
  color: #c5d1eb;
}

h2 {
  font-size: 25px;
  color: #c5d1eb;
}

li {
  margin-top: 40px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.buttons .start {
  margin-right: 50px;
}

.grid {
  display: grid;
  width: 600px;
  height: 600px;
}

.info {
  width: 600px;
  height: 600px;
}

.col {
  display: grid;
  background-color: #c5d1eb;
}

.row.blocked {
  background-color: #F1B24A;
}

.row {
  border: solid 1px #164a41;
  background-color: #c5d1eb;
  user-select: none;
}

.row:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition-duration: 0.1s;
}

.button {
  background-color: #f1b24a;
  border: 2px solid #164a41;
  border-radius: 10px;
  box-shadow: #164a41 4px 4px 0 0;
  color: #164a41;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.size {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: #f1b24a;
  border: 2px solid #164a41;
  border-radius: 40px;
  box-shadow: #164a41 4px 4px 0 0;
  color: #164a41;
}

.button:hover,
.size:hover,
.card div button:hover  {
  background-color: #9dc88d;
}

.button:active,
.size:active,
.card div button:active {
  box-shadow: #164a41 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }

  .selection button {
    min-width: 60px;
  }
}

.value-text {
  font-size: 30px;
  margin-top: 50px;
}

.slider {
  -webkit-appearance: none;
  width: 32%;
  height: 25px;
  background: #9dc88d;
  outline: none;
  opacity: 0.7;
  margin-bottom: 20px;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: #164a41;
  cursor: pointer;
}

/* MODĀLS */
.modal {
  display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #9dc88d;
	margin: 18% auto;
	width: 800px;
	border-radius: 20px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	animation-name: modalopen;
	animation-duration: 0.5s;
}

.modal-header {
  background: #164a41;
	padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.modal-body {
	padding: 10px 20px;
  text-align: center;
}

.modal h2 {
  color: #c5d1eb;
  font-size: 30px;
}

.modal p {
  font-size: large;
}

.close-modal {
  color: #c5d1eb;
  float: right;
  font-size: 40px;
}

.close-modal:hover {
  color: black;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from{opacity: 0}
	to {opacity: 1}
}